footer
    .footer-content.contanier.d-flex.justify-content-center.nt-5.pb-4
        a.text-white.footer-link(href='') Телеграм
        a.text-white.footer-link(href='') Вконтакте
        a.text-white.footer-link(href='') Истаграм