extends ../layuots/str-layuots 

block title 
    - var title='Dota 2'


block content
    header 
        .dota-box 
            .container-xl.p-0 
                .container 
                    .row 
                        .col-xxl-6.col-lg-6.col-md-12 
                            .hero-section 
                                h1.hero-title.text-white.m-0 Dota 2
                                p.hero-desc.text-white.my-5 Dota 2 — компьютерная многопользовательская командная игра жанра стратегия в реальном времени с элементами компьютерной ролевой игры, реализация известной карты DotA для игры Warcraft III в отдельном клиенте.
                                p.hero-desc.text-white В игре участвуют две команды по пять человек. Одна команда играет за светлую сторону, другая — за тёмную. Каждый игрок управляет одним героем, каждый из которых обладает особыми навыками и умениями.



