extends ../layuots/str-layuots 

block title 
    - var title='Fortnite'


block content
    header 
        .fort-box 
            .container-xl.p-0 
                .container 
                    .row 
                        .col-xxl-6.col-lg-6.col-md-12 
                            .hero-section 
                                h1.hero-title.text-white.m-0 Fortnite
                                p.hero-desc.text-white.my-5 Fortnite предлагает своим игрокам массу разнообразных возможностей. Высаживайтесь на остров и поборитесь за звание сильнейшего игрока — или команды. Создайте остров со своими правилами игры. Развлекайтесь с друзьями на островах, которые создали другие игроки… или сразитесь с Бурей, бросив вызов полчищам чудовищ.
                                p.hero-desc.text-white В Fortnite вы можете выбрать из тысяч разных игр: какие-то из них созданы Epic Games, но большинство игр появилось благодаря участникам игрового сообщества. 


