extends ../layuots/str-layuots 

block title 
    - var title='GTA 5'


block content
    header 
        .gta-box 
            .container-xl.p-0 
                .container 
                    .row 
                        .col-xxl-6.col-lg-6.col-md-12 
                            .hero-section 
                                h1.hero-title.text-white.m-0 GTA 5
                                p.hero-desc.text-white.my-5 Grand Theft Auto 5 — легендарное продолжение популярной серии Grand Theft Auto. Местом действия стал город Лос-Сантос, полюбившийся ещё в GTA: San Andreas. 
                                p.hero-desc.text-white Впервые игра расскажет историю сразу трех персонажей: Майкла, Тревора и Франклина, между которыми вы сможете переключаться в любое время.